@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  min-height: 100vh;
  font-family: "Zen Dots", cursive;
  background: #000000 url("../img/black2.png") center center no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Container-Projects{

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: auto;
  z-index: 5;
  transition: ease-out 700ms;
  left: -0.4%;
  
}

#Projects{

  width: 90.4%;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  height: 40px;
  background-color: #18d26fb6;
  transition: ease-in-out 300ms;
  font-family: "Zen Dots", cursive;
  outline: none;
  margin: 0px;

}

#Projects ul{

  padding: 0%;
  margin-block-start: 0%;
  margin-block-end: 0%;
  padding-inline-start: 0px;

}

#Projects:hover{

  transform: translate(1px, -1px);
  cursor: pointer;
  background-color: rgba(24, 210, 111);

}

#Projects:focus {

  background-color: rgba(24, 210, 111);
  outline: none;
}

.Container-Projects:focus{
  
  outline: none;

}

.Project-List{

  display: flex;
  flex-direction: column;
  background-color: #18d26fe9;
  width: 80%;
  height: 0vh;
  display: none;
  border-radius: 4px;
  overflow-y: scroll;
  padding: 0px;

}

#Project-List-Child1{

  flex-grow: 1;
  border: 1px solid white;
  transition: ease-in-out 500ms;
  display: flex;
  flex-direction: row;

}

#Project-List-Child2{

  flex-grow: 1;
  border: 1px solid white;
  transition: ease-in-out 500ms;

}

#Project-List-Child3{

  flex-grow: 1;
  border: 1px solid white;
  transition: ease-in-out 500ms;

}

#Project-List-Child4{

  flex-grow: 1;
  border: 1px solid white;
  transition: ease-in-out 500ms;

}

.Project-List-Child-Design:nth-child(1){

  background: url("../img/mobile-design.jpg") top center no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
  transform: scale(1);
  /*filter: blur(1.5px);*/
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 200ms;
  outline: none;

}

.Project-List-Child-Design:nth-child(2){

  background: url("../img/desktop-design.jpg") top center no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
  transform: scale(1);
  /*filter: blur(1.5px);*/
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 200ms;
  outline: none;

}

.Project-List-Child-Design:nth-child(2):focus,
.Project-List-Child-Design:nth-child(2):focus{

  outline: none;

}


.Project-List-Child-Code{

  position: fixed;
  bottom: 16px;
  left: 9.7%;
  display: none;
  width: 40%;
  background-color: #18d26e;
  transition: ease-in-out 500ms;
  transform: scale(1);
  text-align: center;
  flex-direction: column;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 4px;
  outline: none;

}

.Project-List-Child-Web{

  position: fixed;
  bottom: 16px;
  right: 10.5%;
  width: 41%;
  display: none;
  background-color: #18d26e;
  transition: ease-in-out 500ms;
  transform: scale(1);
  text-align: center;
  flex-direction: column;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-right-radius: 4px;
  outline: none;

}

.Down{

  position: fixed;
  display: none;
  width: auto;
  transform: rotate(180deg);
  right: 27%;
  bottom: 45%;
  animation: down 2s infinite;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  stroke: white;

}

@keyframes down {

  0%{

    bottom: 45%;
    stroke: white;

  }
  50%{

    bottom: 40%;
    stroke: #068a43;

  }
  100%{

    bottom: 45%;

  }

}

.Project-List-Child-Code > a{

  text-decoration: none;
  padding: 10px 20px 10px 20px;
  color: white;
  transition: ease-in-out 250ms;

}

.Project-List-Child-Web > a{

  text-decoration: none;
  padding: 10px 20px 10px 20px;
  color: white;
  transition: ease-in-out 250ms;

}

.Project-List-Child-Code > a:hover{

  transform: translate(0px, -2px);

}

.Project-List-Child-Web > a:hover{

  transform: translate(0px, -2px);

}

.Project-List-Child-Description{

  position: fixed;
  bottom: 59px;
  width: 79.9%;
  display: none;
  background-color: #18d26fe7;
  transition: ease-in-out 500ms;
  transform: scale(1);
  text-align: center;
  flex-direction: column;
  border: none;  
  color: white;
  font-size: 14px;

}

.Project-List-Child-Description1 > p{

  margin-right: 30px;

}

.Project-List-Child-Description-Technologies{

  position: absolute;
  top:  45px;
  width: 100%;
  left: 0px;
  display: none;
  background-color: transparent;
  transition: ease-in-out 500ms;
  transform: scale(1);
  text-align: center;
  flex-direction: column;
  align-items: center;
  border: none;  
  color: white;
  font-size: 14px;
  height: auto;

}

.Project-List-Child-Description2{

  background-color: rgba(24, 210, 111, 0.960);
  width: 80%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}

.Project-List-Child-Description-Technologies-Skills{

  position: absolute;
  width: 100%;
  left: 0px;
  display: none;
  transition: ease-in-out 500ms;
  transform: scale(1);
  text-align: center;
  flex-direction: column;
  align-items: center;
  border: none;  
  color: white;
  font-size: 15px;
  height: auto;

}


.Project-List-Child-Description3{

  width: 79.8%;
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #18d26fe7;
  border-top: 2px solid white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.Span-Languages{

  margin-top: 10px;

}

.Project-List-Child-Description3-Bar{

  width: 96%;
  height: 15px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 1px solid white;
  margin-top: 10px;

}

.Project-List-Child-Description3-Bar-Child:nth-child(1){

  width: 50.1%;
  height: 100%;
  background-color: gold;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

}

.Project-List-Child-Description3-Bar-Child:nth-child(2){

  width: 47.3%;
  height: 100%;
  background-color: royalblue;

}

.Project-List-Child-Description3-Bar-Child:nth-child(3){

  width: 2.6%;
  height: 100%; 
  background-color: orange;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

}

.Project-List-Child-Description3-Bar-Description{

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;  
  margin-top: 10px;

}

.Project-List-Child-Description3-Bar-Description-Child:nth-child(1){

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Project-List-Child-Description3-Bar-Description-Child:nth-child(2){

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Project-List-Child-Description3-Bar-Description-Child:nth-child(3){

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Skills-Circle1{

  background-color: gold;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 10px;

}

.Skills-Circle2{

  background-color: royalblue;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 10px;

}

.Skills-Circle3{

  background-color: orange;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  margin-bottom: 10px;

}

.Skills-Description-Percentage{

  font-size: 12px;
  color: #000000;
  letter-spacing: 1.5px;
  margin-bottom: 5px;

}

.Skills-Description{

  font-size: 13px;
  margin-bottom: 10px;

}

@media (min-width: 0px) and (max-width: 900.99px){

  
  .Project-List-Child-Code{

    position: fixed;
    bottom: 16px;
    left: 9.7%;
    display: none;
    width: 40%;
    background-color: #18d26e;
    transition: ease-in-out 500ms;
    transform: scale(1);
    text-align: center;
    flex-direction: column;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 4px;
    outline: none;
  
  }
  
  .Project-List-Child-Web{
  
    position: fixed;
    bottom: 16px;
    right: 10.6%;
    width: 41%;
    display: none;
    background-color: #18d26e;
    transition: ease-in-out 500ms;
    transform: scale(1);
    text-align: center;
    flex-direction: column;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-right-radius: 4px;
    outline: none;
  
  }

  .Project-List-Child-Description{

    position: fixed;
    bottom: 59px;
    width: 79.5%;
    display: none;
    background-color: #18d26fe7;
    transition: ease-in-out 500ms;
    transform: scale(1);
    text-align: center;
    flex-direction: column;
    border: none;  
    color: white;
    font-size: 14px;
  
  }

  .Project-List-Child-Description3{

    width: 79.5%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #18d26fe7;
    border-top: 2px solid white;
  
  }

}



#q {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
}

#img {
  background: #000000 url("../img/black2.png") center center fixed;
  background-size: cover;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.4;
  height: 117vh;
}

.Container-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 5px;
}

.FacesT {
  position: absolute;
  margin-top: 0px;
  margin-left: 30%;
  background: url("../img/faceT.png") top right no-repeat;
  background-size: cover;
  transform: scale(0.8);
  width: 350px;
  height: 200px;
  animation: FacesIntermitente 7s infinite;
  transition: ease-in-out;
}

.FacesR {
  position: absolute;
  margin-top: 600px;
  right: 10%;
  background: url("../img/faceR.png") top right no-repeat;
  transform: scale(1.2);
  width: 350px;
  height: 400px;
  animation: FacesIntermitenteR 3s infinite;
  transition: ease-in-out;
}

.FacesL {
  position: absolute;
  margin-top: 500px;
  left: 0%;
  background: url("../img/faceL.png") top right no-repeat;
  transform: scale(1.2);
  width: 350px;
  height: 400px;
  animation: FacesIntermitenteL 4s infinite;
  transition: ease-in-out;
}

.FacesT1 {
  position: absolute;
  margin-top: 980px;
  right: 10%;
  background: url("../img/faceT.png") top right no-repeat;
  transform: scale(1.2);
  width: 350px;
  height: 400px;
  animation: FacesIntermitenteT 7s infinite;
  transition: ease-in-out;
}

.FacesB {
  position: absolute;
  margin-top: 1100px;
  left: 10%;
  background: url("../img/faceB.png") top right no-repeat;
  transform: scale(1.2);
  width: 350px;
  height: 400px;
  animation: FacesIntermitenteB 7s infinite;
  transition: ease-in-out;
}

.Container-NavBar {
  margin-left: 8.7%;
}

.NavHome {
  text-decoration: none;
  float: left;
  margin-left: 8.7%;
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-top: 37vh;
  cursor: pointer;
  z-index: 2;
  letter-spacing: 2px;
  animation: glitch-skew 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s infinite;
  width: 80%;
  outline: none;
}

.NavHome:focus{

  outline: none;

}

.point1 {
  color: #18d26e;
}

.I-am {
  margin-left: 8.7%;
  color: rgba(255, 255, 255, 0.438);
  font-weight: 400;
  font-size: 20px;
}

.Programmer {
  border-bottom: 2px solid #18d26fb0;
  padding-bottom: 4px;
  color: white;
}

.intermitent {
  font-size: 47px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0px;
  position: absolute;
  margin-top: -11px;
  animation: intermitente 1000ms infinite;
}

.NavBar {
  display: flex;
  width: 405px;
  margin-top: 5px;
  padding: 0px 0px;
  /*background-color: #6313fb;*/
  float: left;
  border-radius: 4px;
  z-index: 2;
  position: absolute;
}

ul {
  margin-right: 0px;
  list-style: none;
}

li {
}

.NavBar .child .link {
  text-decoration: none;
  font-size: 15px;
  font-family: "Zen Dots", cursive;
  font-weight: 100;
  transition: ease-in-out 230ms;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid transparent;
}

.NavBar .child .link:hover {
  cursor: pointer;
  border: 2px solid #18d26f73;
  color: white;
  transform: translate(2px, 2px);
}

.NavBar .child .link:focus {
  color: white;
  border-bottom: 2px solid #18d26e;
}

.NavBar .child {
  font-size: 16px;
  font-family: "Zen Dots", cursive;
  flex-grow: 1;

  border-radius: 6px;
  margin: 10px 0px;
}

.link:nth-child(1) {
  transition: ease-in-out 300ms;
  text-align: center;
  border: none;
  padding: 10px;
}

.child:nth-child(2) {
  transition: ease-in-out 300ms;
  text-align: center;
  border: none;
}
.child:nth-child(3) {
  transition: ease-in-out 300ms;
  text-align: center;
  border: none;
}

.child:nth-child(4) {
  transition: ease-in-out 300ms;
  text-align: center;
  border: none;
}

.child:nth-child(5) {
  transition: ease-in-out 300ms;
  text-align: center;
  border: none;
}

.child:nth-child(1):hover {
}

.child:nth-child(2):hover {
}

.child:nth-child(3):hover {
}

.child:nth-child(4):hover {
}

.child:nth-child(5):hover {
}

.Container-Socials-Contact1 {
  display: flex;
  flex-direction: column;
}
.Container-Socials-Contact2 {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: auto;
  margin-top: 30px;
  margin-left: 8%;
}

.Socials-Contact-child {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(68, 68, 68);
  margin: 10px 15px 10px 10px;
  transition: ease-in-out 230ms;
  display: flex;
  border: 1px solid transparent;
  flex-direction: column;
  align-items: center;
}

.Socials-Contact-child:hover {
  background-color: #18d26f9d;
  border: 1px solid white;
  transform: translate(-1px, 1px);
}

.twitter1 {
  margin-top: 10px;
  text-decoration: none;
  flex-grow: 1;
}

.facebook1 {
  margin-top: 10px;
  text-decoration: none;
  flex-grow: 1;
}

.instagram1 {
  margin-top: 10px;
  text-decoration: none;
  flex-grow: 1;
}

.google-plus1 {
  margin-top: 10px;
  text-decoration: none;
  flex-grow: 1;
}

.twitter1 > .icofont-twitter:hover {
  color: white !important;
}

.facebook1 > .icofont-facebook:hover {
  color: white !important;
}

.instagram1 > .icofont-instagram:hover {
  color: white !important;
}

.google-plus1 > .icofont-skype:hover {
  color: white !important;
}

.about {
  border-top: 1px solid #18d26e;
  margin-top: 19%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  transition: ease-in-out 500ms;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.Container-about {
  width: 100%;
  height: 1440px;
  border-radius: 2px;
  margin-top: 0px;
  opacity: 1;
  background-color: rgba(3, 3, 3, 0.865);
  border-left: 2px solid #18d26e;
  border-right: 2px solid #18d26e;
  transform: scale(0.9);
  margin-left: -0.6%;
}

.aboutHead {
  display: flex;
  flex-direction: column;
}

.aboutTitle {
  color: rgba(255, 255, 255, 0.664);
  font-size: 15px;
  font-weight: bold;
  margin: 20px 0px 10px 20px;
  font-family: "Poppins", sans-serif;
}

.aboutBar {
  width: 120px;
  color: transparent;
  border-bottom: 2px solid #18d26e;
  margin-top: -10px;
  margin-left: 5px;
  position: absolute;
}
.aboutLearn {
  color: white;
  margin: 0px 0px 0px 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.aboutContent {
  display: flex;
  transform: scale(1);
  flex-direction: row;
}

.aboutEnd {
  position: absolute;
  color: #18d26e;
  margin-left: 53px;
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.aboutP1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.788);
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 100;
  width: 60%;
  margin-left: 53px;
  margin-top: 50px;
}

.containerImg img {
  width: 295px;
  height: 350px;
  margin-left: 60px;
  margin-top: -30px;
  opacity: 0.7;
}

.ListDates {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 70%;
  margin-top: 15px;
  margin-left: 20px;
}

.ListDates-child {
  flex-grow: 1;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-top: 90px;
}

.Date {
  display: flex;
  flex-direction: row;
}

.RespDate1 {
  margin-top: 17px;
  color: white;
  font-weight: 700;
}

.RespDate2 {
  color: rgba(255, 255, 255, 0.61);
  margin-top: 17px;
  font-weight: 100;
  margin-left: 5px;
}

.Skills {
  position: absolute;
  display: flex;
  margin-top: 415px;
  width: 100%;
  height: auto;
}

.SkillsDates {
  margin-top: 50px;
  width: 89%;
  height: 400px;
  display: flex;
  margin-left: 2%;
}

.SkillsDate {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.SkillsDate-child {
  flex-grow: 1;
}

.Skills-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
}

.Skills-Container-Bar {
  display: block;
  width: 80%;
  height: 13px;
  background-color: gray;
  display: flex;
  border-radius: 2px;
  margin-top: 10px;
}

.SkillsBar {
  width: 0%;
  height: 13px;
  background-color: #18d26e;
  border-radius: 1px;
  transition: ease-in-out 1800ms;
}

.Interests {
  position: absolute;
  display: flex;
  margin-top: 915px;
  width: 100%;
  height: auto;
}

.InterestsDates {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 330px;
  margin-top: 70px;
}

.InterestsDate {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.InterestsDate-child {
  margin: 10px;
  flex-grow: 1;
  background-color: #9e9e9e2a;
  transition: ease-in-out 350ms;
  border-radius: 2px;
}

.InterestsDate-child:hover {
  cursor: pointer;
  background-color: #9e9e9e62;
  transform: translate(2px, 2px);
}

.services {
  width: 100%;
  height: auto;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  border-top: 1px solid #18d26e;
  transition: ease-in-out 500ms;
}

.Container-services {
  opacity: 1;
  width: 100%;
  height: 918px;
  border-radius: 2px;
  margin-top: 0px;
  border-left: 2px solid #18d26e;
  border-right: 2px solid #18d26e;
  background-color: rgba(3, 3, 3, 0.865);
  transform: scale(0.9);
  margin-left: -0.6%;
}

.servicesContent {
  display: flex;
  flex-direction: column;
  width: 96.8%;
  height: 790px;
  margin: 20px;
}

.servicesDate {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.servicesDate-child {
  margin: 10px;
  flex-grow: 1;
  background-color: #9e9e9e2a;
  transition: ease-in-out 250ms;
  border-radius: 2px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesDate-child:hover {
  cursor: pointer;
  background-color: #18d26fdc;
  transform: translate(1px, 1px);
}

.serviceDate-child1 {
  width: 70px;
  height: 70px;
  -webkit-box-shadow: -9px -8px 0px -1px #5c5c5c;
  box-shadow: -9px -8px 0px -1px #5c5c5c;
  background-color: #18d26e;
  border-radius: 4px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease-in-out 450ms;
}

.serviceDate-child2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.serviceDate-child2Span {
  font-size: 25px;
  font-weight: bold;
  color: #18d26e;
}

.serviceDate-child2P {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

#service1 {
  color: white !important;
}

#service2 {
  color: white !important;
}

#service3 {
  color: white !important;
}

#service4 {
  color: white !important;
}

#service5 {
  color: white !important;
}

#service6 {
  color: white !important;
}

.ContactMe {
  width: 100%;
  height: auto;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  border-top: 1px solid #18d26e;
  transition: ease-in-out 500ms;
}

.Container-ContactMe {
  opacity: 1;
  width: 100%;
  height: 967px;
  border-radius: 2px;
  margin-top: 0px;
  border-left: 2px solid #18d26e;
  border-right: 2px solid #18d26e;
  background-color: rgba(3, 3, 3, 0.865);
  transform: scale(0.9);
  margin-left: -0.6%;
}

.contactContent1 {
  display: flex;
  flex-direction: column;
  width: 96.8%;
  height: 350px;
  margin: 20px;
}

.contactDate {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.contactDate-child {
  margin: 10px;
  flex-grow: 1;
  background-color: #9e9e9e2a;
  transition: ease-in-out 250ms;
  border-radius: 2px;
  margin: 20px;
}

.contactDate-child:hover {
  cursor: pointer;
  background-color: #9e9e9e62;
}

.contactContent2 {
  display: flex;
  flex-direction: column;
  width: 94%;
  height: 440px;
  margin: 20px 40px 0px 40px;
  background-color: #9e9e9e2a;
}

input::placeholder {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.438);
  font-weight: 500;
}

textarea::placeholder {
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.438);
  font-weight: 500;
}

.your {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 40px 40px 20px 40px;
  height: 40px;
}

.your-child {
  flex-grow: 1;
  background-color: #69686862;
  margin: 0px 5px 0px 5px;
  color: white;
  border: none;
  padding: 10px 10px 10px 10px;
  transition: ease-in-out 350ms;
  border-radius: 2px;
}

.your-child:hover {
  background-color: #696868a2;
}

.your-child:focus {
  background-color: #696868a2;
}

.contactDate-child {
  display: flex;
  flex-direction: row;
  border: 2px solid transparent;
}

.contactCircle {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: rgb(68, 68, 68);
  margin: 35px 20px 0px 20px;
  transition: ease-in-out 230ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
}

.bx {
  color: #18d26e !important;
  font-size: 28px;
  margin-top: 19px;
}

.contactDates-childSocials {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.twitter2 {
  text-decoration: none;
  flex-grow: 1;
}

.facebook2 {
  text-decoration: none;
  flex-grow: 1;
}

.instagram2 {
  text-decoration: none;
  flex-grow: 1;
}

.google-plus2 {
  text-decoration: none;
  flex-grow: 1;
}

.icofont-twitter {
  color: white;
  font-size: 20px;
  transition: ease-in-out 310ms;
  outline: none;
}

.icofont-facebook {
  color: white;
  font-size: 20px;
  transition: ease-in-out 310ms;
  outline: none;
}

.icofont-instagram {
  color: white;
  font-size: 20px;
  transition: ease-in-out 310ms;
  outline: none;
}

.icofont-skype {
  color: white;
  font-size: 20px;
  transition: ease-in-out 310ms;
  outline: none;
}

.icofont-twitter:hover,
.icofont-facebook:hover,
.icofont-instagram:hover,
.icofont-skype:hover {
  color: #18d26e;
}

.icofont-twitter:focus,
.icofont-facebook:focus,
.icofont-instagram:focus,
.icofont-skype:focus {

  outline: none;

}

.contactDates {
  position: absolute;
  margin: 45px 0px 0px 100px;
  font-family: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.719);
}

.contactDates-child1 {
  font-size: 20px;
  font-weight: bold;
}

.contactDates-child2 {
  font-size: 20px;
  font-weight: 500;
}

.message {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0px 40px 20px 40px;
  height: 300px;
  font-size: 20px;
}

.message-child:nth-child(1) {
  flex-grow: 1;
  width: 97.5%;
  margin: 0px 5px 10px 5px;
  background-color: #69686862;
  border: none;
  color: white;
  padding: 10px 10px 10px 10px;
  transition: ease-in-out 350ms;
  border-radius: 2px;
}

.message-child:nth-child(2) {
  flex-grow: 1;
  width: 97.5%;
  margin: 10px 5px 10px 5px;
  background-color: #69686862;
  border: none;
  color: white;
  padding: 10px 10px 10px 10px;
  resize: none;
  transition: ease-in-out 350ms;
  border-radius: 2px;
}

.message-child:nth-child(1):hover {
  background-color: #696868a2;
}

.message-child:nth-child(2):hover {
  background-color: #696868a2;
}

.message-child:nth-child(1):focus {
  background-color: #696868a2;
}

.message-child:nth-child(2):focus {
  background-color: #696868a2;
}

.message-child:nth-child(3) {
  flex-grow: 1;
  width: 180px;
  margin: 10px 5px 0px 5px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  height: 45px;
  background-color: #18d26fb6;
  transition: ease-in-out 300ms;
  outline: none;
}

.message-child:nth-child(3):focus{

  outline: none;

}

.message-child:nth-child(3):hover {
  cursor: pointer;
  background-color: #18d26e;
}

svg {
  stroke: #18d26f;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  transform: scale(0.4);
}

@keyframes glitch-skew {
  0% {
    transform: skew(0deg, 0deg);
    /*text-shadow:
        
      2.5px -2.5px 0 #18d26e,
    
      2px -2px 0 #18d26e,
    
      1.5px -1.5px 0 #18d26e,
    
      1px -1px 0 #18d26e,
    
      -2.5px 2.5px 0 #5c5c5c,
    
      -2px 2px 0 #5c5c5c,
    
      -1.5px 1.5px 0 #5c5c5c,
    
      -1px 1px 0 #5c5c5c
    
    ;*/
  }
  48% {
    transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  50% {
    transform: skew(-20deg, 0deg);
    filter: blur(4px);
    color: rgba(255, 255, 255, 0.719);
    /*text-shadow:
      
      -2.5px -2.5px 0 #5c5c5c,
    
      -2px -2px 0 #5c5c5c,
    
      -1.5px -1.5px 0 #5c5c5c,
    
      -1px -1px 0 #5c5c5c,
    
      2.5px 2.5px 0 #18d26e,
    
      2px 2px 0 #18d26e,
    
      1.5px 1.5px 0 #18d26e,
    
      1px 1px 0 #18d26e
    
    ;*/
  }
  52% {
    transform: skew(20deg, 0deg);
    /*text-shadow:
      
      -2.5px 2.5px 0 #18d26e,
    
      -2px 2px 0 #18d26e,
    
      -1.5px 1.5px 0 #18d26e,
    
      -1px 1px 0 #18d26e,
    
      2.5px -2.5px 0 #5c5c5c,
    
      2px -2px 0 #5c5c5c,
    
      1.5px -1.5px 0 #5c5c5c,
    
      1px -1px 0 #5c5c5c
    
      ;*/
  }
  54% {
    transform: skew(0deg, 0deg);
    filter: blur(0);
  }
  100% {
    transform: skew(0deg, 0deg);
    /*text-shadow:
  
      2.5px -2.5px 0 #18d26e,

      2px -2px 0 #18d26e,

      1.5px 1.5px 0 #18d26e,

      1px -1px 0 #18d26e,

      -2.5px 2.5px 0 #5c5c5c,

      -2px 2px 0 #5c5c5c,

      -1.5px 1.5px 0 #5c5c5c,

      -1px 1px 0 #5c5c5c

    ;*/
  }
}

@keyframes intermitente {
  0% {
    color: #18d26e;
  }
  100% {
    color: transparent;
  }
}

@keyframes FacesIntermitente {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
    transform: rotate(-10deg);

    /*    margin-top: 145px;*/
  }
  50% {
    opacity: 0.3;
    /**    margin-left: 71%;*/
    transform: rotate(10deg);
  }
  100% {
    opacity: 0;
  }
}

@keyframes FacesIntermitenteR {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: scale(0.6);

    /*    margin-top: 145px;*/
  }
  50% {
    opacity: 1;
    transform: scale(0.8);
    /**    margin-left: 71%;*/
  }
  100% {
    opacity: 0;
  }
}

@keyframes FacesIntermitenteL {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: scale(0.6);

    /*    margin-top: 145px;*/
  }
  50% {
    opacity: 1;
    transform: scale(0.8);
    /**    margin-left: 71%;*/
  }
  100% {
    opacity: 0;
  }
}

@keyframes FacesIntermitenteT {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: scale(0.6);

    /*    margin-top: 145px;*/
  }
  50% {
    opacity: 0;
    transform: scale(0.8);

    /**    margin-left: 71%;*/
  }
  100% {
    opacity: 0;
  }
}

@keyframes FacesIntermitenteB {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: scale(0.6);

    /*    margin-top: 145px;*/
  }
  50% {
    opacity: 0;
    transform: scale(0.8);
    /**    margin-left: 71%;*/
  }
  100% {
    opacity: 0;
  }
}

.childBars {
  position: absolute;
  display: none;
  transform: scale(0);
  outline: none;
}

.childBars:focus {

  outline: none;

}
